@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body{
	margin:0px;
	padding:0px;
	background-color:#161616;	
}
ul{
	list-style:none;
}
a{
	text-decoration:none;
}
#main{
	padding:30px 50px;
	position:relative;
	width:100%;
	height: 100vh;
	box-sizing: border-box;
	background-size: 615px;
	background-position: right bottom;
	background-repeat: no-repeat;
	background-color: #edf1fd;
    background-image: url("images/profile.png");
}
nav{
	display:flex;
	justify-content: space-between;
	align-items: center;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 2px;
	font-family: Arial, Helvetica, sans-serif;
	position: fixed;
	top: 0;
	left: 0;
	width:100%;
	box-sizing: border-box;
	padding: 10px 50px;
	background-color:#09d1f6;
	box-shadow:2px 2px 12px rgba(0,0,0,0.05); 
	z-index: 1;
} 
.menu{
	display: flex;
}
.menu li a{
	padding: 10px 15px;
	color:#6c707c;
	font-size: 12px;
}
.logo{
	font-size: 25px;
	font-weight: bold;
	color:#292929;
	font-family:Poppins;
    margin-left: 10%;
}
.toggle{
	display: none;
}
.active a,
.menu li a:hover{
	background-color:#857c7a;
	color:#FFF!important;
	font-weight: bold;
	transition: all ease 0.4s;
}
.name{
	font-family: calibri;
	width: 500px;
	position: absolute;
	left: 20%;
	top: 50%;
	transform: translate(-20%,-50%);
}
.name p:nth-child(1),.name .details{
	color:#6c707c;
	font-size: 30px;
}
.name h1{
	font-family:Poppins;
	font-size: 50px;
	margin:0px;
	letter-spacing: 3px;
	color:#292929;
}
.name h2{
	font-size: 30px;
}
.name .image-container{
    display: flex;
    margin-left: 50%;
}
.social{
	position: absolute;
	left: 50px;
	bottom: 50px;
	display: flex;
 
}
.social a{
	margin: 6px 12px;
 
}
.social i{
	color:rgba(18,17,17,0.40);
	font-size: 25px;
}
.social a:hover i{
	color:#0a8cf5;
	transition: all ease 0.5s;
    transform: translateY(-3px);
}
#about{
	width:100%;
	height: 100vh;
	background-color: #292929;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 50px 5% 0px 5%;
	position: relative;
}
.about-text{
	font-family: calibri;
	width: 50%;
}
.about-text h1{
	font-size: 5rem;
	color:#09d1f6;
}
.about-text h2{
	font-size: 3rem;
	color: #1cc7d0;
	font-weight: 400;
}
.about-text h1,h2{
	margin: 0px;
	padding: 0px;
}
.about-text p{
	font-size: 1.2rem;
	color:#6c707c;
	
}
.about-model{
	height: 460px;
	width: 400px;
	position: relative;
	transform-style: preserve-3d;
	perspective: 1000px;
  }
  .about-model .card{
	position: absolute;
	height: 100%;
	width: 100%;
	padding: 5px;
	background: #fff;
	border-radius: 10px;
	transform: translateY(0deg);
	backface-visibility: hidden;
	transform-style: preserve-3d;
	box-shadow: 0px 10px 15px rgba(0,0,0,0.1);
	transition: transform 0.7s cubic-bezier(0.4,0.2,0.2,1);
  }
  .about-model:hover > .front-face{
	transform: rotateY(-180deg);
  }
  .about-model .card img{
	height: 100%;
	width: 100%;
	object-fit: cover;
	border-radius: 10px;
  }
  .about-model .back-face{
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	flex-direction: column;
	transform: rotateY(180deg);
  }
  .about-model:hover > .back-face{
	transform: rotateY(0deg);
  }
  .about-model .back-face img{
	height: 150px;
	width: 150px;
	padding: 5px;
	border-radius: 50%;
	background: linear-gradient(375deg, #1cc7d0, #2ede98);
  }
  .about-model .back-face .info{
	text-align: center;
  }
  .back-face .info .title{
	font-size: 30px;
	font-weight: 500;
  }



#services{
width:100%;
height:100vh;
box-sizing: border-box;
font-family: calibri;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
padding-top: 40px ;

}

.s-heading h1{
color:#FFFFFF;
font-size: 3rem;
margin: 0px;
padding: 0px;

}
.s-heading p{
color:rgba(255,255,255,0.30);
font-size: 1rem;
margin: 0px;
padding: 0px;
}
.s-heading{
text-align: center;
margin: 20px 0px;
}
.s-box{
width:350px;
height: 400px;
margin: 20px;
border-radius: 10px;
overflow: hidden;
box-shadow: 2px 2px 12px rgba(0,0,0,0.1);
position: relative;
}
.b-container{
display: flex;
justify-content: center;
align-content: center;


}
.s-b-img{
width: 100%;
height: 100%;

}
.s-b-img img{
width:100%;
height: 100%;

}
.s-b-text a{
margin: 0px;
color:#FFFFFF;
font-size: 1.1rem;
font-family: calibri;
display: block;
display: -webkit-box;
max-width: 80%;
-webkit-line-clamp: 4;
-webkit-box-orient: vertical;
overflow: hidden;
text-overflow: ellipsis;
}
.s-b-text a:hover{
color:rgba(255,255,255,0.50)
}
.button{
font-family: calibri;
color:#FFFFFF;
background-color: #151515;
padding: 10px 15px;
position: absolute;
top: 0px;
left: 50%;
transform: translateX(-50%);
font-size: 18px;
border-radius: 0px 0px 10px 10px;
box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
}
.button:hover{
	color: #09d1f6;
}
.s-box:hover{
transform:translateY(-10px);
transition: all ease 0.3s;
}
#skills{
width:100%;
box-sizing: border-box;
font-family: calibri;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
padding: 60px 2% 20px 2%;
}
 
.p-headind{
font-family: calibri;
font-size: 1.7rem;
text-align: center;
color:#FFFFFF;
font-weight: 400;
padding: 10px 20px;
background-color: #292929;
letter-spacing: 2px;
border-radius: 3px;
box-shadow: 2px 2px 20px rgba(0,0,0,0.1);
	
}
.p-box{
 
background-color: #1F1F1F;
overflow: hidden;
border-radius: 10px;
box-shadow: 2px 2px 13px rgba(0,0,0,0.3);
position: relative;
 
}
.p-box:hover{
	transition: all ease 0.8s;
    transform: translateY(-5px);
}
.p-box img{
width: 100%;
height: 100%;
object-fit: cover;
}
.p-container{
width: 90%;
height:70vh;
display:grid;
grid-template-columns:1fr 1fr 1fr;
grid-template-rows: auto auto;
grid-gap: 10px;
}
.overlay-text{
	font-family: calibri;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	display:none;
}
.overlay-text button{
	color: #000000;
}
.overlay-text button{
	font-size: 2.2rem;
	margin: 0px;
	padding: 0px;
	letter-spacing: 2px;
	height: 40px;
	border-radius: 5px;
	border: none;
	outline: none;
}
.overlay-text .fcc-btn:hover{
	Transform: scale(1.1);
	background-color: #09d1f6;
}
.p-box:hover .overlay-text{
	display: flex;
	
}

.fcc-btn {
	background-color: #566456;
	color: white;
	padding: 15px 25px;
	text-decoration: none;
	border-radius: 5px;
	font-size: 20px;
	font-family: Arial, Helvetica, sans-serif;
  }
  .fcc-btn:hover {
	background-color: #223094;
  }


#contact-btn{
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content:center;
	align-items: center;
	height: 100px;
	background-color: #09d1f6;
	margin: 20px 0px;
	box-sizing: border-box;
	box-shadow:2px 0px 20px rgba(0,0,0,0.4); 
}
#contact-btn button{
	color:#FFFFFF;
	font-size: 1rem;
	font-family: calibri;
	width:150px;
	height: 40px;
	margin: 10px;
	background-color: #1E1E1E;
	border: none;
	outline: none;
	box-shadow: 2px 5px 6px rgba(0,0,0,0.2);
}
#contact-btn button:hover{
	background-color: #857c7a;
	color:#000000;
	transition: all ease 0.5s;
	font-weight: bold;
}
#contact-form{
	width: 100%;
	height: 90vh;
	display: flex;
	justify-content: center;
	align-items: center;
	
}
#contact-form form{
	display: flex;
	width: 70%;
	height: 60vh;
	background-color: #1A1A1A;
	box-shadow: 2px 12px 20px rgba(0,0,0,0.2);
	border: 1px solid rgba(255,255,255,0.01)
}
 
.contact-left{
	width: 40%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.contact-right{
	width: 60%;
	height: 100%;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	border-left: 1px solid rgba(255,255,255,0.08);
}
.contact-right button{
	width: 100%;
	height: 50px;
	background-color: #09d1f6;
	font-weight: bold;
	outline: none;
	border: none;
	margin: 0px;
	color:#1B1B1B;
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 2px;
 
}
.c-l-heading{
	font-family: calibri;
	color:#FFFFFF;
	font-size: 3rem;
	letter-spacing: 2px;
	font-weight: 400;
	
}
.f-name,.f-email{
	display: flex;
	flex-direction: column;
	font-family: calibri;
	
}
.f-name font,.f-email font{
	color:#BFBFBF;
	font-size: 22px;
}
.f-name input,.f-email input{
	height: 30px;
	width:250px;
	border: none;
	outline: none;
	background-color:transparent;
	border-bottom: 1px solid #929292;
	color:#FFFFFF;
	margin: 10px 0px;
}
.f-email input::placeholder,
.f-name input::placeholder{
	opacity: 0.5;
	letter-spacing: 1px;
}
.f-email input:focus,
.f-name input:focus{
	border-bottom: 1px solid #09d1f6;
	transition: all ease 0.5s;
}.message font{
	font-size: 18px;
	color:#4E4E4E;
	font-family: calibri;
	
}
.message{
	margin: 20px;
}
.contact-right textarea{
	width: 100% !important;
	height: 320px !important;
	border: none;
	outline: none;
	background-color:transparent;
	box-sizing: border-box;
	color:#EBEBEB;
	font-size: 16px;
}
.contact-right textarea::placeholder{
	color:#EBEBEB;
	font-size: 18px;
	letter-spacing: 2px;
	font-family: calibri;
}
.contact-right button:active{
	transform: scale(1.04);
	transition: all ease 0.1s;
}
.footer {
	padding: 35px 0;
	background-color: #ffffff;
	height: 10vh;
  }
  
  .footer .socials {
	text-align: center;
	padding-bottom: 25px;
	color: #4b4c4d;
  }
  
  .footer .socials a {
	font-size: 24px;
	color: inherit;
	width: 40px;
	height: 40px;
	line-height: 38px;
	display: inline-block;
	text-align: center;
	margin: 0 8px;
	opacity: 0.75;
  }
  
  .footer .socials a:hover {
	opacity: 0.9;
	color: #09d1f6;
  }
  
  .footer ul {
	margin-top: 0;
	padding: 0;
	list-style: none;
	text-align: center;
	font-size: 18px;
	line-height: 1.6;
	margin-bottom: 0;
  }
  
  .footer ul a {
	color: inherit;
	text-decoration: none;
	opacity: 0.8;
  }
  
  .footer ul li {
	display: inline-block;
	padding: 0 15px;
  }
  
  .footer ul a:hover {
	opacity: 1;
  }
  
  .footer .copyright {
	margin-top: 15px;
	text-align: center;
	font-size: 18px;
	color: #aaa;
  }
  

@media(max-width:1190px){
	#main{
		background-size: 1150px !important;
		
	}
	.name{
		left: 10%;
		top: 50%;
		transform: translate(-10%,-50%);
	}
	.about-model img{
		height:400px;
	}
	#services{
		height:auto;
	}
	.b-container{
		flex-wrap: wrap;
	}
	.s-box{
		flex-grow: 1;
	}
	.s-b-img img{
		object-fit:cover;
	}
	#contact-form form{
		width:95% !important;
	}
 
}
@media(max-width:970px){
	#main{
		background-image: none !important;
		
	}
	.name{
		left: 50%;
		top: 50%;
		transform: translate(-50%,-50%);
	}
	.about-model{
		display: none;
	}
	#about{
		justify-content: center;
		padding-top: 0px;
	}
	.about-text{
		width: 90%;
	}
	.about-text h1{
		font-size:4rem;
	}
	
	.p-container{
		width:100%;
	
	}
	
}
@media(max-width:900px){
	.toggle{
		display:block;
	}
	.toggle:before{
content:'\f0c9';
font-family: fontAwesome;
line-height: 0px;
		margin-left:-30px;
}
	.toggle.active:before{
content:'\f00d' !important;

	}
	nav{
		padding:10px 30px;
	}
	
	nav ul{
		position:absolute;	
		width: 100%;
		height:auto;
		box-sizing:border-box;
		background-color:#0F0F0F;
		top: 50px;
		left: 0;
		transition: 0.5s;
		overflow: hidden;
		display: none !important;
		border:3px solid #1F1F1F;
	}
	
		nav ul li a{
		border-bottom: 1px solid rgba(255,255,255,0.10) ;
		color:#ffffff !important;
		width: 100%;
		height: 50px;
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 0px !important;
		padding: 0px !important;
	}
		nav ul{
			padding:0px;
			margin:0px;
		}
 
		.active-menu {
		display: block !important;
	}
	
		nav ul li a:hover{
			background-color:rgba(27,29,32,0.15);
 
			}
	
	
	.p-container{
	grid-template-columns:1fr 1fr;
	grid-template-rows:auto;
	grid-gap: 10px;
	height: auto;
	}
	.c-b-heading{
		font-size: 1.4rem;
		text-align: center;
	}
	#contact-form{
		padding: 20px;
		height: auto;
		box-sizing: border-box;
	}
	
	
	#contact-form form {
		flex-direction: column;
		height:auto;
		padding: 20px;
		width:90% !important;
 
	}
	.contact-left,.contact-right{
		width:100%;
		border: none;
	}
	.f-name,.f-email{
		width: 100%;
 
	}
	.f-name input,.f-email input{
		width:100%;
		border: none;
		background-color: #262626 !important;
		padding: 10px;
		box-sizing: border-box;
		height: 40px;
		
	}
	textarea{
		background-color: #262626 !important;
		margin: 10px 0px;
		padding: 10px;
		height: 200px !important;
		width:100% !important;
	}
	.message{
		margin:0px;
	}
	#contact-form form h1{
		margin:5px 0px;
	}
	
	
}
 
@media(max-width:600px){
	.p-container{
		grid-template-columns:1fr ;
		grid-template-rows: auto;}
	.c-b-heading{
		font-size: 1.2rem;
		text-align: center;
		margin: 0px 10%;
	}
	.name{
		width:60%;
	}
	

	.social{
		left: 30px;
		transform: translateX(-10px);
	}
}
@media(max-width:400px){
	.s-box{
		width: 100%;
		height:400px;
	}
}
